body{
  font-family: "century gothic",sans-serif;
  text-align: center;
  background-color: #232323;
  margin: 0;
}
h1,h3{
  margin: 0;
  color: AliceBlue;
  padding: 0.3rem;
}
h1{
  font-size: 4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-weight: normal;
}
button{
  background-color: none;
  background: none;
  font-family: "century gothic",sans-serif;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  outline:none;
  color: coral;
  transition: all 0.3s;
}

button:hover{
  color: AliceBlue;
  background-color: coral
}
#heading{
  background-color: coral;
  margin: 0;
  transition: all 0.5s;
}
#stripe{
  background-color: AliceBlue ;
  font-size: 1.2rem;
  margin: .5%;
  border-radius: 10px;
}
#message{
  width: 150px;
  display: inline-block;
  font-weight: bold;
  color: steelblue;
}
#board{
  margin: 2% auto;
  max-width: 600px;
}
.square{
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  background:  red;
  float: left;
  border-radius: 20%;
  transition: all 0.3s;
}
.heart{
  font-size: 2.5rem;
  transition: all 0.3s;
}
#continue{
  clear: both;
  padding: 5px;
}
#nextLevel{
  border-radius: 2%;
  height: 80px;
  width: 180px;
  background-color: steelblue;
  color: AliceBlue;
  margin: 1%;
  opacity: 0;
  pointer-events:none;
}

#nextLevel:hover{
  background-color: coral;
  outline: none;
}
#footer{
  color: coral;
  width: 100%;
}
